# PORT
PORT=3000

# MongoDB
DB_URL=mongodb://localhost:27017/Saraha_App

# HASHING
SALT=10

# ENCRYPTION
ECRYPTION_SECRET_KEY=your_encryption_secret_key_here

# JWT
TOKEN_SECRET_KEY=your_token_secret_key_here
REFRESH_TOKEN_SECRET_KEY=your_refresh_token_secret_key_here
TOKEN_EXPIRE_TIME=1h
REFRESH_TOKEN_EXPIRE_TIME=1d

TOKEN_USER_SECRET_KEY=your_token_user_secret_key_here
REFRESH_TOKEN_USER_SECRET_KEY=your_refresh_token_user_secret_key_here

TOKEN_ADMIN_SECRET_KEY=your_token_admin_secret_key_here
REFRESH_TOKEN_ADMIN_SECRET_KEY=your_refresh_token_admin_secret_key_here

# SOCIAL LOGIN
CLIENT_ID=your_google_client_id_here

# EMAIL
EMAIL=your_email_here
PASSWORD_EMAIL=your_email_password_here